body {
    background-color: #f3f1ed;
    font-size: 1vw;
    overflow: visible;
    position: absolute;
}

body {
    min-height: 100%;
    color: #333;
    background-color: #fff;
    margin: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
:root {
    --beige: #f3f1ed;
    --cherry: #472425;
    --white: white;
    --light-cherry: #ae9f9d;
    --dark-grey-2: #9f9c8a;
    --green: #23553e;
    --dark-grey: #aaa;
    --light-grey: #d4d4d4;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Lexend Zetta', sans-serif;
}

.c_logo {
    width: 10%;
    margin-left: 9vw;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a {
    background-color: rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
}


.c_page_intro {
    min-width: 1200px;
    height: auto;
}

.h2 {
    color:#472425;
    font-family: 'Playfair Display', serif;
    font-size: 6em;
    font-weight: 400;
    line-height: 1.2em;
    margin-left: 5%;
}

.sub-menu {
    color: #ae9f9d;
    text-transform: capitalize;
    cursor: pointer;
    margin-left: 0%;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    text-decoration: none;
}

.h3 {
    color: #472425;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 1.1em;
    align-items: center;
}

.sub-c {
    color:#472425;
    letter-spacing: .5em;
    text-transform: uppercase;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: .9em;
    font-weight: 600;
    line-height: 1.4em;
}

.h4 {
    color: #472425;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 400;
    line-height: 1.1em;
}

.par-s {
    display: block;
}

.par-s {
    color: #472425;
    align-items: flex-start;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5em;
    display: block;
}

.par-s_intro {
    color: #472425;
    align-items: flex-start;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    display: block;
    min-width: 800px;
}

.c_exp_txt {
    width: auto;
    margin-left: 5vw;
    font-family: 'Lexend Tera', sans-serif;
}

.par-s._80.small, .par-s.small {
    font-size: .8em;
    font-family: 'Lexend Tera', sans-serif;
}

.c_page_nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-inline-start: 5%;
    width: 100%;
}

.page_nav._1 {
    cursor: pointer;
    margin-left: 5%;
    text-decoration: none;
}
.page_nav {
    margin-left: 5%;
    text-decoration: none;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}


div {
    display: block;
}

.blank-div {
    margin: 120px; /* Adjust the value as needed */
}

.intro_grid {
    width: 100%;
    height: auto;
    grid-column-gap: 0vw;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    padding-top: 20px;
}
.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

#w-node-fd9423e9-e38d-a4b9-0e6a-dc0d76458fd6-8602ceda {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
}
.c_intropage_txt {
    width: 45%;
    margin-left: 10vw;
}

#w-node-fd9423e9-e38d-a4b9-0e6a-dc0d76458fdf-8602ceda {
    justify-self: end;
}
.c_intropage_img {
    width: 50vw;
    overflow: hidden;
}

.explore_grid {
    width: auto;
    height: auto;
    grid-column-gap: 10vw;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 7vw;
}

.w-layout-grid {
    grid-row-gap: 20px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.c_exp_img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.c_sightseeing {
    width: 80%;
    height: 100%;
    text-align: left;
    justify-content: space-between;
    align-items: left;
    margin-top: 7%;
    margin-bottom: 0%;
    display: flex;
}

.block.sightseeing {
    padding-top: 5vw;
    padding-bottom: 5vw;
    position: relative;
    display: flex;
}

.place {
    width: 25%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}


.c_sub-c._10-up._10-down {
    margin-bottom: 10%;
}

.c_sub-c._10-up {
    margin-top: 10%;
}

.illo._50.down-10 {
    width: 50%;
    margin-bottom: 10%;
}

.img {
    width: 100%;
    height: 100%;
    color: var(--light-cherry);
    display: block;
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
img {
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.jackson-hole_grid {
    width: 100%;
    height: auto;
    grid-column-gap: 10vw;
    grid-row-gap: 10vw;
    margin-top: 5%;
}

  .c_girl_img img,
  .c_mount_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
  }
  
  .c_girl_img img {
    z-index: 0; /* Foreground image */
    align-items: flex-end;
  }
  
  .c_mount_img img {
    z-index: 1; /* Background image */
  }
  

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

#w-node-_5ba9fa9b-b9b1-7325-0b91-b683673cf83f-8602ceda, #w-node-_15ce3cdf-ee9e-4f2b-0476-5d672dbb627c-8602ceda, #w-node-_912c6bc2-6650-06fa-eb3b-0b9c3ae708d9-8602ceda, #w-node-e24dd835-a063-3cd1-1793-79912793b085-8602ceda {
    grid-area: span 1 / span 1 / span 1 / span 1;
}
.c_welcome_txt {
    margin-left: 10vw;
}

.c_welcome_img {
    min-width: 800px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: relative;
}

.c_rodeo_img {
    width: auto;
    height: auto;
    margin-top: 30%;
    overflow: hidden;
}

#w-node-dfcd0739-d120-4a5f-5f10-dc738bafae39-8602ceda, #w-node-_6c13a39c-a0df-43ab-41f5-4a256dba42fb-8602ceda {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
}

.c_rodeo_txt {
    margin-top: 10%;
    margin-left: 10vw;
    height: fit-content;
}

#w-node-dfcd0739-d120-4a5f-5f10-dc738bafae39-8602ceda, #w-node-_6c13a39c-a0df-43ab-41f5-4a256dba42fb-8602ceda {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
}

.c_town_txt {
    margin-top: -10%;
    margin-left: 10vw;
}

.c_town_img {
    width: auto;
    height: auto;
    margin-top: -10%;
    overflow: hidden;
}

.c_par._65 {
    width: 65%;
}
.c_par._65 {
    width: 65%;
}
.c_par {
    width: 50%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.block.welcome {
    padding-top: 0;
    padding-bottom: 10vw;
}

.block {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 3vw;
}

.c_par._70.up-10 {
    margin-top: 10%;
}
.c_par._70 {
    width: 70%;
    margin-top: 7%;
    margin-bottom: 7%;
}
.c_par {
    width: 90%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: var(--cherry);
    padding: 7% 10vw 4% 13vw;
}